In [1]:
student = {
    "name":"khan",
    'rollno':98,
    'class':'cseb'
}
for i,j in student.items():
  print(i,':',j)

name : khan
rollno : 98
class : cseb

In [5]:
print(student.keys(),student.values())

dict_keys(['name', 'rollno', 'class']) dict_values(['khan', 98, 'cseb'])

In [6]:
stud = {
    0:'hi',
    1:'hello',
    2:'bye'
}
for i in range(len(stud)):
  print(i,':',stud[i])

0 : hi
1 : hello
2 : bye

In [8]:
print(student['name'])

khan

In [14]:
student1 = {
    'name':'motassim',
    'rollno':98,
    'year':'second',
    'year':2023
}
for i in student1.items():
  print(i[0],':',i[1])

name : motassim
rollno : 98
year : 2023

In [15]:
print(len(student1))

3

In [20]:
student1['interests'] = ['karate','mma']
student1

{'name': 'motassim',
 'rollno': 98,
 'year': 2023,
 'interests': ['karate', 'mma']}

In [24]:
student2=dict(name='ayan',rollno = 83, year='second')
student2

{'name': 'ayan', 'rollno': 83, 'year': 'second'}

In [25]:
year_of_study = student2.get('year')
year_of_study

'second'

In [35]:
cse2b = {
    "names":'cse2b',
    "strength":69,
    "subjects":["stld","ppl",'p&s',"dbms"]
}
details=cse2b.keys()
details
#del cse2b['subjects']
cse2b

{'names': 'cse2b', 'strength': 69, 'subjects': ['stld', 'ppl', 'p&s', 'dbms']}

In [37]:
cse2b.pop('names')
cse2b

KeyError: ignored

In [38]:
cse2b["CR"]=98
cse2b

{'strength': 69, 'subjects': ['stld', 'ppl', 'p&s', 'dbms'], 'CR': 98}

In [49]:
for i in cse2b.keys():
  print(cse2b[i])
del cse2b['subjects']

69
['stld', 'ppl', 'p&s', 'dbms']
98

In [55]:
sub =['stld', 'ppl', 'p&s', 'dbms']
cse2b['subjects']=sub
for i in cse2b.items():
  print(i[0],':',i[1])

strength : 69
subjects : ['stld', 'ppl', 'p&s', 'dbms']
CR : 98